.myForm{
    height: auto;
}
input[type="date"]{
    font-weight: 600;
}
input[type="file"]{
    cursor: pointer;
}
.error{
    padding-top: 2px;
    font-size: 12px;
    color: red;
}
#errorAll{
    display: flex;
    justify-content: center;
}
.main-text{
    margin: 0;
}
.main-text-hide{
    display: flex;
    justify-content: center;
    margin: 10px 0;
    font-weight: bold;
    font-size: 30px;
}
.gray{
    margin-bottom: -5px;
    font-size: 12px;
    color: gray;
    display: flex;
    justify-content: center;
}